
{%- comment %}
	This is a foo
  {{ content_for_index }}

  {% endcomment -%}

  <!-- collection.liquid -->
  {% assign collection = collections.all %}

  <div class="collection-container grid-4 gutter max-width  big-margin-bottom top-space__header">

    {%- for product in collection.products -%}
      {% include "collection-item" %}
    {%- endfor -%}


  </div>
