<!-- page.sliders.liquid -->

<h1>SLIDERS</h1>

<h1>------------- Hero Slider -------------</h1>
{% section 'hero-slider' %}


<h1>------------- Featured Product Slider -------------</h1>
{% section 'featured-product' %}


<h1>------------- Blog Slider -------------</h1>
{% section 'blog-slider' %}


<h1>------------- Collection Slider (Full Width) -------------</h1>
{% section 'collection-slider' %}
