<div class="page-container top-space__header">

  <div class="grid-2-break auto-rows grid-left">
    <div class="rte med-plus-font">
      {{ page.content }}
    </div>

    <div class="mission-link-wrapper med-plus-font">
      {% section 'mission-section' %}
    </div>

  </div>


</div>
