{%- if template == 'index' -%}

  <span class="color-black word">
    One
  </span>
  <span>
    <h1 class="color-white anim-typewriter word word-grow ">
      Planet
    </h1>
  </span>
  <span class="color-green word">
    ,
  </span>

  <span class="color-black word">
    All
  </span>
  <span class="color-white anim-typewriter word word-grow ">
    Beings
  </span>

  <span class="color-green word">
    ,
  </span>
  <span class="color-black">
    Every
  </span>
  <span class="color-white anim-typewriter word word-grow ">
    Choice
  </span>
  <span class="color-green word">
    .
  </span>




{%- else -%}

{%- if template == 'collection' or template == "product"-%}
  {% assign template_handle = 'Store'  %}
{%- endif -%}


  <span class="color-green word link-home">
    One
  </span>
  <span class="color-black word link-home">
    ,
  </span>
  <span class="color-green word link-home">
    All
  </span>
  <span class="color-black word link-home">
    ,
  </span>
  <span class="color-green">
    Every
  </span>
  <span class="color-green word link-home">
    ,
  </span>
  <span class="color-black word">
    {{template_handle}}
  </span>
  <span class="color-green word">
    :
  </span>
  {%- endif -%}
