{%- if template == 'index' -%}
  <span class="color-black word big-font">
    One&nbsp
  </span>
  <span>
    <h1 class="color-white anim-typewriter word word-grow big-font ">
      Planet
    </h1>
  </span>
  <span class="color-green word big-font">
    ,&nbsp
  </span>

  <span class="color-black word big-font">
    All&nbsp
  </span>
  <span class="color-white anim-typewriter word word-grow big-font ">
    Beings
  </span>
  <span class="color-green word big-font">
    ,&nbsp
  </span>
  <span class="color-black word big-font">
    Every&nbsp
  </span>
  <span class="color-white anim-typewriter word word-grow big-font ">
    Choice
  </span>
  <span class="color-green word big-font">
    .
  </span>


{%- elsif template == 'page.mission' -%}

<a href="/" class="index-link big-font ">
  One<span>,</span> All<span>,</span> Every<span>,</span>&nbsp
</a>
  <p class="big-font display-inline">{{ settings.mission_copy }}</p>


 {%- else  -%}

  {%- if template == 'collection' or template == "product"-%}
  {% assign template_handle = 'Store'  %}
  {% assign template_link = '/collections/all' %}
  {% endif %}
  {%-  if template == "cart"  -%}
  {% assign template_handle = 'Cart'  %}
  {% endif %}
  {%-  if template == 'blog.projects' -%}
  {% assign template_handle = 'Projects'  %}
  {% assign template_link = '/blogs/projects' %}

  {%- else  -%}
    {%-  if template == "blog" -%}
    {% assign template_handle = 'Artists'  %}
    {% assign template_link = '/blogs/artists'  %}
    {%- elsif template == 'article.project' -%}
    {% assign template_handle = 'Projects'  %}
    {% assign template_link = '/blogs/projects' %}


    {% endif %}
  {% endif %}
  {%-  if template == "article" -%}
  {% assign template_handle = 'Artists'  %}
  {% assign template_link = '/blogs/artists'  %}

  {% endif %}

  {%- if template == "page.contact" -%}
  {% assign template_handle = 'Contact'  %}
  {%- endif -%}

  {%- if template == "page.press" -%}
  {% assign template_handle = 'Press'  %}
  {%- endif -%}

  {%- if template == "search" -%}
  {% assign template_handle = 'Search'  %}
  {%- endif -%}



  <a href="/" class="index-link big-font ">
    One<span>,</span> All<span>,</span> Every<span>,</span>&nbsp
  </a>
  <span class="color-black word dynamic-word big-font">
    <a class="color-black word dynamic-word big-font" href="{{template_link}}">{{ template_handle }}</a>
      {%- if template == 'cart' -%}

        <span class="color-green ">(</span><span class="cart-item-count  "  data-cart-view="data-cart-view" rv-text="cart.item_count"> </span><span class="color-green  ">)</span>
    
      {%- endif -%}
  <span class="color-green word">:</span>

{%- endif -%}
