

{%- if template == 'index' -%}
  <span class="color-black word">
    One
  </span>
  <span>
    <h1 class="color-white anim-typewriter word word-grow ">
      Planet
    </h1>
  </span>
  <span class="color-green word">
    ,
  </span>

  <span class="color-black word">
    All
  </span>
  <span class="color-white anim-typewriter word word-grow ">
    Beings
  </span>

  <span class="color-green word">
    ,
  </span>
  <span class="color-black">
    Every
  </span>
  <span class="color-white anim-typewriter word word-grow ">
    Choice
  </span>
  <span class="color-green word">
    .
  </span>
{%- else -%}
  <span class="color-black word">
    One
  </span>
  <span class="color-green word">
    ,
  </span>
  <span class="color-black word">
    All
  </span>
  <span class="color-green word">
    ,
  </span>
  <span class="color-black">
    Every
  </span>
  <span class="color-green word">
    .
  </span>


{%- endif -%}
