{%- if template == 'index' -%}
  <span class="color-black word">
    One&nbsp
  </span>
  <span>
    <h1 class="color-white anim-typewriter word word-grow ">
      Planet
    </h1>
  </span>
  <span class="color-green word">
    ,&nbsp
  </span>

  <span class="color-black word">
    All&nbsp
  </span>
  <span class="color-white anim-typewriter word word-grow ">
    Beings
  </span>
  <span class="color-green word">
    ,&nbsp
  </span>
  <span class="color-black word">
    Every&nbsp
  </span>
  <span class="color-white anim-typewriter word word-grow ">
    Choice
  </span>
  <span class="color-green word">
    .
  </span>


{%- elsif template == 'page.mission' -%}

<a href="/" class="index-link big-font ">
  One<span>,</span> All<span>,</span> Every<span>,</span>&nbsp
</a>
  <p class="big-font display-inline">{{ settings.mission_copy }}</p>


 {%- else  -%}

  {%- if template == 'collection' or template == "product"-%}
  {% assign template_handle = 'Store'  %}
  {% endif %}
  {%-  if template == "cart"  -%}
  {% assign template_handle = 'Cart'  %}
  {% endif %}
  {%-  if template == 'blog.projects' -%}
  {% assign template_handle = 'Projects'  %}
  {%- else  -%}
    {%-  if template == "blog" -%}
    {% assign template_handle = 'Artists'  %}
    {% endif %}
  {% endif %}
  {%-  if template == "article" -%}
  {% assign template_handle = 'Artists'  %}
  {% endif %}

  <a href="/" class="index-link big-font ">
    One<span>,</span> All<span>,</span> Every<span>,</span>&nbsp
  </a>
  <span class="color-black word dynamic-word">
      {{ template_handle }}
      {%- if template == 'cart' -%}
        {%- if cart.item_count > 0 -%}
        <span class="color-green ">(</span><span class="cart-item-count  "  data-cart-view="data-cart-view" rv-text="cart.item_count"> </span><span class="color-green  ">)</span>
        {% endif %}
      {%- endif -%}
  <span class="color-green word">
    :
  </span>

{%- endif -%}
