
<div class="collection-header big-font">

        {% if product.vendor != blank %}
        {% assign vendor = product.vendor %}
        {% endif %}
        <h1 class="big-font product-title z-plus-10">{{vendor}}<span class="color-green">,</span> {{ product.title }}<span class="color-green">,</span></h1>
</div>
