
//    _____ _____  _____ _____   _____
//   / ____|  __ \|_   _|  __ \ / ____|
//  | |  __| |__) | | | | |  | | (___
//  | | |_ |  _  /  | | | |  | |\___ \
//  | |__| | | \ \ _| |_| |__| |____) |
//   \_____|_|  \_|_____|_____/|_____/


// $gutter: 30px;
// $grid-gap: 10px;
// $section-gutter: 16px;
// $dektop-gutter: 100px;

/*================ Basic Grid Mixin ================*/
@mixin grid{
  display: grid;
  grid-auto-rows: auto 1fr;
  // grid-column-gap: $gutter;
  // grid-row-gap: $gutter;
  grid-column-gap: $big-font;
  grid-row-gap: $big-font-half;
  grid-auto-rows: 1fr;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.grid-left{justify-content: left !important; align-content: left !important; justify-items: left !important;}
.grid-right{justify-content: right !important;align-content: right !important;justify-items: right !important;}

/*================ Standard Grids ================*/
.grid-2  { @include grid; grid-template-columns: repeat(2, 1fr);}
.grid-2-break  { @include grid; grid-template-columns: repeat(2, 1fr);}
.grid-3-break-2  { @include grid; grid-template-columns: repeat(3, 1fr);}
.grid-3  { @include grid; grid-template-columns: repeat(3, 1fr);}
.grid-4  { @include grid; grid-template-columns: repeat(4, 1fr);}
.grid-5  { @include grid; grid-template-columns: repeat(5, 1fr);}
.grid-6  { @include grid; grid-template-columns: repeat(6, 1fr);}
.grid-7  { @include grid; grid-template-columns: repeat(7, 1fr);}
.grid-8  { @include grid; grid-template-columns: repeat(8, 1fr);}
.grid-9  { @include grid; grid-template-columns: repeat(9, 1fr);}
.grid-10 { @include grid; grid-template-columns: repeat(10, 1fr);}


/*================  Grid 2-1  ================*/
.grid-2-1{
  @include grid;
  grid-template-columns: 66% 34%;
}
.grid-2-1-invert{
  @include grid;
  grid-template-columns: 34% 66% !important;
}


/*================  Grid Mobile Break ================*/

@include media-query($small){
   .grid-3, .grid-4,
  .grid-5, .grid-6,
  .grid-7, .grid-8,
  .grid-9, .grid-10,
  .grid-2-1, .grid-2-break-1, .grid-2-1-invert, .grid-2-break{
    @include grid; grid-template-columns: repeat(1, 1fr) !important;
  }
};

@include media-query($small){
   .grid-3-break-2{
    @include grid; grid-template-columns: repeat(2, 1fr) !important;
  }
};


/*================  Grids 2 Collage ================*/
.grid-2-collage {@include grid; grid-template-columns: repeat(2, 1fr);}
.grid-2-collage :nth-child(1),
.grid-2-collage :nth-child(5),
.grid-2-collage :nth-child(7),
.grid-2-collage :nth-child(11),
.grid-2-collage :nth-child(13),
.grid-2-collage :nth-child(17),
.grid-2-collage :nth-child(19),
.grid-2-collage :nth-child(23),
.grid-2-collage :nth-child(29),
.grid-2-collage :nth-child(31),
.grid-2-collage :nth-child(41){
  grid-row:  span 2;
}
.grid-2-collage-invert {  @include grid; grid-template-columns: repeat(2, 1fr);}
.grid-2-collage-invert :nth-child(2),
.grid-2-collage-invert :nth-child(4),
.grid-2-collage-invert :nth-child(8),
.grid-2-collage-invert :nth-child(10),
.grid-2-collage-invert :nth-child(14),
.grid-2-collage-invert :nth-child(16),
.grid-2-collage-invert :nth-child(20),
.grid-2-collage-invert :nth-child(22),
.grid-2-collage-invert :nth-child(26),
.grid-2-collage-invert :nth-child(28),
.grid-2-collage-invert :nth-child(32),
.grid-2-collage-invert :nth-child(34),
.grid-2-collage-invert :nth-child(38),
.grid-2-collage-invert :nth-child(40),
.grid-2-collage-invert :nth-child(44),
.grid-2-collage-invert :nth-child(46)
{
  grid-row:  span 2;
}
/*================  Grids 3 Collage ================*/
.grid-3-collage {@include grid; grid-template-columns: repeat(3, 1fr);}
.grid-3-collage :nth-child(1),
.grid-3-collage :nth-child(5),
.grid-3-collage :nth-child(7),
.grid-3-collage :nth-child(11),
.grid-3-collage :nth-child(13),
.grid-3-collage :nth-child(17),
.grid-3-collage :nth-child(19),
.grid-3-collage :nth-child(23),
.grid-3-collage :nth-child(29),
.grid-3-collage :nth-child(31),
.grid-3-collage :nth-child(41){
  grid-column:  span 2;
  grid-row:  span 2;
}
@include media-query($small){
  .grid-3-collage {@include grid; grid-template-columns: repeat(2, 1fr);}
};

/*================  Grids 4 Collage ================*/
.grid-4-collage {
  @include grid; grid-template-columns: repeat(4, 1fr);
  & :nth-child(10n + 6){grid-column:  span 2; grid-row:  span 2;}
  & :nth-child(10n + 3){grid-column: span 2; grid-row: span 2; }
}
.grid-4-collage-invert {
  grid-auto-rows: unset !important;
  @include grid; grid-template-columns: repeat(4, 1fr);
  & :nth-child(10n + 8){grid-column:  span 2; grid-row:  span 2;}
  & :nth-child(10n + 1){grid-column: span 2; grid-row: span 2; }
}
@include media-query($small){
  .grid-4-collage, .grid-4-collage-invert  {
    @include grid; grid-template-columns: repeat(2, 1fr);
  }
};
