
.article-list{
  display: flex;
  flex-direction: column;
}


 .article-wrapper{
  // margin-top: $quad-gutter;
  float: left;
  @include media-query($medium-up){
    // grid-column-gap: $big-font;
    grid-column-gap: $big-font-half;
    grid-row-gap: $big-font;
    padding-right: $gutter;
  };
  @include media-query($small){
    // padding-right: $gutter;
    margin-top: $double-gutter;
  };

  .big-font{
    line-height: 4vw;
    @include media-query($small){
      line-height: 10vw;
    };
  }

  .article-preview-container{
    @include media-query($medium-up){
      // min-height: 60vh;
    };
    width: 100%;
    &:hover{
      .color-black{
        color: $color-green !important;
      }
    }
  }

  .article-preview-image__wrapper{
    @include fluid-aspect(3 2);
    min-height: 20vh;

  }
  .article-preview-image{
    // width: 47vw;
    // min-height: 40vh;
    // height: 31.3vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include media-query($small){
      width: 100%;
      // height: 32vh;
    };
  }
  .nav-link{
    color: $color-black;
    @include transition(all 400ms  ease-in-out);
  }
  .nav-link__punctuation{
    color: $color-green;
    @include transition(all 400ms ease-in-out);

  }
  // &:hover{
  //   .nav-link{
  //     color: $color-green;
  //   }
  //   .nav-link__punctuation{
  //     color: $color-black;
  //   }
  // }
}
 .article-link{
  float: left;
  text-transform: capitalize !important;
  a{
    color: $color-green;
    @include transition(all 400ms  ease-in-out);
  }
  span{
    @include transition(all 400ms  ease-in-out);
    color: $color-black;
  }
  &:hover{
    a{
      color: $color-black;
    }
    span{
      color: $color-green;
    }
  }
}


.article-title-hook{
  padding-top: 1vw !important;
  @include media-query($small){
    padding-top: $big-font-half !important;
  };
}

/////////////////article/////////////////

.article-image{
  margin: auto;
  margin-bottom: $gutter;
  max-height: 55vh;
  // height: 46vh;

}
.article-title{
  max-width: 91%;
}
.article-related-container{
  @include  media-query($small){
    margin-top: $gutter;
  };
  .product-image-container{
    height: 100%;
    max-height: 38vh;
    align-items: start;
  }
  .product-card-canvas{
    height: 100%;
    width: 100%;
    // min-height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .product-card-link{
    width: 100%;
  }
  .related-item-image{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .product-info{
    min-height: 6vw;
  }
}

.article-body{
  @include media-query($small){
    padding-bottom: $mobile-x-space;
  };
  p, .p1, a, span{
    font-size: $med-plus-font;
    @include media-query($small){
        font-size:$med-font-mobile;
    };
  }
  a{
    color: $color-grey;
    @include transition(color $transition-time ease-in-out);
    &:hover{
      color: $color-green;
    }
  }
  .color-green:hover{
    color: $color-green;
  }
  i{
    font-family: "OAE-Italic" !important;
  }
}

.project-airtable-container{
  // width: 60%;
  margin: auto;
  cursor: pointer;
}

.project-slider {
  max-height: 55vh !important;
  .flickity-viewport{
    min-height: 55vh;
    max-height: 55vh;
    height: 100%;
    @include media-query($small){
      min-height: 30vh;
    };
    // border: 2px solid red;
    .article-image-wrapper{
      width: 100%;
      height: 100%;
      &.is-selected{
        .article-image{
          opacity: 1;
          @include media-query($small){
            background-size: cover;
          };
        }
      }
      .article-image{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
      }
    }
  }
  .flickity-slider{
    transform: none !important;
  }
}

.project-slider-slide {
left: 0 !important;
opacity: 0;
transition: opacity 0.3s ease-in-out;
z-index: -1;
width: 100%;
}

.project-slider-slide.is-selected {
opacity: 1;
z-index: 0
}

.project-container{
  .zoom-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    // background: rgba(255,255,255,0.7);
    height: auto !important;
    .zoom-slider{
      width: 80%;
      margin: auto;
      overflow-y: hidden;
      align-items: center;
      background: rgba(255,255,255,0);
      min-height: 60vh;
      .flickity-slider{
          transform: none !important;
        }

        .zoom-slide {
        left: 0 !important;
        opacity: 0;
        transition: opacity 0.6s ease-in-out;
        z-index: -1;
        }

        .zoom-slide.is-selected {
        opacity: 1;
        z-index: 0
        }


    }
    .zoom-close{
      cursor: pointer;
      z-index: 20;
    }
  }
}

.zoom-slide-count{
  position: absolute;
  bottom: 10px;
  // right: 9px;
  right: $gutter;
}
