
//  __  __ _____ _   _ _____             _____          _____ _______
// |  \/  |_   _| \ | |_   _|           / ____|   /\   |  __ \__   __|
// | \  / | | | |  \| | | |    ______  | |       /  \  | |__) | | |
// | |\/| | | | | . ` | | |   |______| | |      / /\ \ |  _  /  | |
// | |  | |_| |_| |\  |_| |_           | |____ / ____ \| | \ \  | |
// |_|  |_|_____|_| \_|_____|           \_____/_/    \_\_|  \_\ |_|
//



/* ==========================================================================
MINI CART
========================================================================== */
.mini-cart{
  position: fixed;
  right: 15px;
  top: 40px;
  z-index: 1000;
  width: 320px;
  background: #fff;
  border: 1px solid var(--color-1);
  min-height: 80vh;
  @include translateX(350px);
  @include transition(all 300ms);
}

.mini-cart-overlay{
  @include translateX(100%);
  @include transition(all 300ms);
}

body.mini-cart-open{
  .mini-cart-overlay{
    position: fixed;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index:999;
    background-color: rgba(0,0,0, 0.6);
    @include translateX(0%)
      }
  .mini-cart{
    @include translateX(0px);
  }
}
.mini-cart-header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 20px;
  line-height: 62px;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
  background-color: white;
  border-bottom: 1px solid var(--color-1);
  .mini-cart-title{
    float: left;
  }
  .mini-cart-close{
    color: var(--color-1);
    float: right;
    cursor: pointer;
  }
}

.mini-cart-body{
  height: 70vh;
  padding: 90px 15px 120px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
// .mini-cart-body{
// 	height: 100%;
// 	padding: 90px 15px 120px;
// 	overflow-y: auto; /* has to be scroll, not auto */
// 	-webkit-overflow-scrolling: touch;
// }

.mini-cart-item{
  position: relative;
  margin-bottom: 30px;
  .mini-cart-item-image{
    width: 120px;
    margin-right: 10px;
    float: left;

  }
  .mini-cart-item-title{
    margin-bottom: 5px;
    a {
      font-size: 12px;
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  ul.mini-cart-item-options{
    li{
      margin-bottom: 5px;
      font-size: 10px;
      color: #000;
      font-weight: bold;
    }
  }
}

.mini-cart-footer{
  border-top: 1px solid var(--color-1);

}

.mini-cart-total{
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  font-weight: 800;
}

#mini-cart-form{
  display: flex;
  justify-content: center;
  border: var(--color-1);
  width: 100%;
}

.mini-cart-button-container{
  display: flex;
  margin: 1rem;
}

.mini-cart-button-container * {
  &:hover{
    // border: 2px solid black;
  }
}

.mini-cart-footer-footer-link{
  border: 2px solid var(--color-1);
  background: var(--color-1);
  padding: 6px;
}

.mini-cart-checkout{
  border: 2px solid black;
  width: 100%;
  padding: 6px;
  background: var(--color-1);
  cursor: pointer;
}



//   _____          _____ _______   _____        _____ ______
//  / ____|   /\   |  __ \__   __| |  __ \ /\   / ____|  ____|
// | |       /  \  | |__) | | |    | |__) /  \ | |  __| |__
// | |      / /\ \ |  _  /  | |    |  ___/ /\ \| | |_ |  __|
// | |____ / ____ \| | \ \  | |    | |  / ____ \ |__| | |____
//  \_____/_/    \_\_|  \_\ |_|    |_| /_/    \_\_____|______|

.cart-table{
  img{
    // margin: 2rem auto;
  }
  td{
    text-align: left;
    vertical-align: top;
  }
  input{
    text-align: left;
    padding: 6px;
  }
}

.cart-container{
  td{
    padding: 15px 0;
  }

  .responsive-table-row {
    display: flex;
    height: auto;
    padding-bottom: 1vw;
    .big-font{
      line-height: 4vw;
    }

    .item-price{
      margin-left: auto;
    }
  }
}
.cart-image-wrapper{
  // border: 2px solid red;
  // @include fluid-aspect(3 2);
  .cart-image{

  }
}

.cart-title{
  border-bottom: 1px solid black;
  margin: 0 $gutter;
  padding-bottom: 15px;
  margin-top: 2rem;
}

.cart-item{
  display: flex !important;
  color: white;
  // width: 24vw;
  a{
    color: black;
    width: 100%;
    // max-width: 400px;
  }

  .content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // padding: 1rem 0;
    text-align: left;
  }
}

.title-wrapper{
  max-width: 400px;
  padding-left: $gutter !important;
}
.cart-item-title{
  // @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
}



.cart-border{
  border: 2px solid $color-green;
  border-left: none;
  border-right: none;
  border-top: none;
}

.cart-message{
  padding: $half-gutter 0;
}




.cart-remove-link{
  display: block;
  height: $big-font;
  width: $big-font;
  svg{
    height: $big-font;
    width: $big-font;
  }
}

.note-container{
  text-align: center;
  display: flex;
  flex-direction: column;

  textarea{
    width: 80%;
    margin: auto;
    margin-top: 1rem;
  }
}

.checkout-info-container{
  display: flex;
  flex-direction: column;
  // width: 60%;
  margin: auto;
  // margin-top: 1rem;

  .subtotal-wrapper, .checkout-wrapper{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $color-green;
    padding: 1rem 0;
  }
  .checkout-wrapper{
    border: none;
  }
}
.checkout-info-container p{
  max-width: unset;
  text-align: left;
}
.checkout-info-container input{
  // width: 50vw;
  // margin: 1rem auto;
  // margin-bottom: 1rem;
  border: none;
}
