.collection-container.grid-4{
  padding-top: $mobile-header-height;
  grid-column-gap: $gutter;
  grid-row-gap: $gutter;
}


.product-image-container{
  width: 100%;
  max-width: 100vw;
  display: flex;
  // min-width: 100%;
  justify-content: center;
  align-items: center;
  @include media-query($medium-up){
    padding: 2rem 0;
  };
  .responsive-image__image{
    margin: auto;
  }
}

.collection-container .product-image-container{
  background: transparent !important;
  display: block;
  &:hover{
    .product-info{
      p,a, span{
        color: $color-green !important;
      }
    }
  }
}

.product-collection-item{
  width: 100%;
  @include transition(opacity $transition-time ease-in-out);
  &:hover{
    .color-black{
      color: $color-green;
    }
    .product-info{
      p,a, span{
        color: $color-green !important;
      }
    }
  }

  // .product-card-canvas{
  //   @include fluid-aspect(3 2);
  //
  // }
}

.product-card-canvas{
 position: relative;
 // padding-top: 125%;
 // min-height: 20vh;
}

.product-card-image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.product-card-front{
  @include transition(all 300ms);
  &:hover{
    opacity: 0;
  }
  &.no-hover{
    opacity: 1 !important;
  }
}

.product-card-image__back{
  @include media-query($small){
    display: none;
  };
}

.product-info{
  padding-top: $half-gutter;
  p, a{
    font-size: $med-font;
    color: $color-black;
    @include transition(color $transition-time ease-in-out);
  }

}
