

//  _   _     __      _______ _____       _______ _____ ____  _   _
// | \ | |   /\ \    / /_   _/ ____|   /\|__   __|_   _/ __ \| \ | |
// |  \| |  /  \ \  / /  | || |  __   /  \  | |    | || |  | |  \| |
// | . ` | / /\ \ \/ /   | || | |_ | / /\ \ | |    | || |  | | . ` |
// | |\  |/ ____ \  /   _| || |__| |/ ____ \| |   _| || |__| | |\  |
// |_| \_/_/    \_\/   |_____\_____/_/    \_\_|  |_____\____/|_| \_|



.opacity-header{
  width: 100%;
  height: 14vh;
  background-image: url('https://cdn.shopify.com/s/files/1/0143/7630/4726/files/header_white.png?4520');
  position: fixed;
  top: -10px;
  z-index: 1;
  background-size: contain;
  // border: 2px solid red;
  @include transition(all $transition-time ease-in-out);
}
/*================ Navigation Layout Grids ================*/


.index-link{
  text-transform: uppercase;
  color: $color-green;
  @include transition(color $transition-time ease-in-out);
  &:hover{
    color: $color-black;
    span{
      color: $color-green;
    }
  }
  span{
    color: $color-black;
    @include transition(color $transition-time ease-in-out);
  }
}

#shopify-section-header{
  // position: absolute;
  z-index: 10;
  width: 95%;
  margin-left: 0;
}
.logo-wrapper-container{
  // height: $double-gutter;
  position: fixed;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  margin-top: $gutter;
  padding-left: $gutter;
  // max-width: 91%;
  top: 0;
  @include media-query($small){
    // max-width: 70%;
    position: relative;
    margin-top: $double-gutter;
    padding-left: $double-gutter;
  };
  @include transition(transform 0.4s ease-in-out);
  z-index: 10;
  &.toggle-up{
    transform: translateY(-257%);
  }
  &.mission-width{
    max-width: 91%;
  }
}
.logo-wrapper{
  display: flex;
  align-items: center;
  @include media-query($small){
    max-width: 80%;
    display: block;
    flex-wrap: wrap;
    position: static;
  };
}

.collection-header{
  display: flex;
}

.color-white{
  color: $color-white;
}
.color-black{
  color: $color-black;
  @include transition(color $transition-time ease-in-out);
  &:hover{
    color: $color-green;
  }
}

.color-green{
  color: $color-green;
  @include transition(color $transition-time ease-in-out);
  &:hover{
    color: $color-black;
  }
}

.color-grey{
  color: $color-grey;
  @include transition(color $transition-time ease-in-out);
  &:hover{
    color: $color-black;
  }
}
.word{
  font-size: $big-font;
  text-transform: uppercase;
  @include media-query($small){
    font-size: $big-font-mobile;
  };
}

.word-grow{
  overflow: hidden;
  max-width: 0%;
}
.dynamic-word{
  @include media-query($small){
    display: flex;
  };
}

.anim-typewriter{
  animation: typing 3s steps(32) 0.5s 1 normal both;
  -webkit-animation: typing 3s steps(32) 0.5s 1 normal both;
    white-space: nowrap;

  // animation-timing-function: ease;
  // -webkit-animation-timing-function: ease;
  // display: contents;
  @include media-query($small){
    display: none !important;
  };
}
// @keyframes typewriter{
//   from{width: 0;}
//   to{width: 14rem;}
// }

@-webkit-keyframes typing {
  from {
    max-width: 0;
  }

  to {
    max-width: 100%;
  }
}

@keyframes typing {
  from {
    max-width: 0;
  }

  to {
    max-width: 100%;
  }
}

// @-webkit-keyframes typing {
//   from {
//     max-width: 0;
//   }
//   to {
//     max-width: 100%;
//   }
// }
//
//
//
// @keyframes typing {
//   from {
//     max-width: 0;
//   }
//   to {
//     max-width: 100%;
//   }
// }

//
// @-webkit-keyframes typing-og {
//         from {
//                 max-width: 0;
//         }
//         to {
//                 max-width: 100%;
//         }
// }
//
// @keyframes typing-og {
//         from {
//                 max-width: 0;
//         }
//         to {
//                 max-width: 100%;
//         }
// }
//






$mobile-header-height: 66px;
//
.grid-responsive-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  overflow: hidden;
  .big-font{
    // line-height: 0.8;
  }


  // margin: 0 auto !important;
  @include transition(opacity 300ms);
  &.show{
    opacity: 1;
    height: 100%;
    z-index: 10;
  }

}

.topnav{
  // display: flex;
  height: $double-gutter;
  margin-top: $gutter;
  max-width: 81%;
  padding-left: $gutter;
  // position: absolute;
  // border: 2px solid blue;
  @include media-query($small){
      padding-left: $double-gutter;
      margin-top: $double-gutter
  };
}

.x-close{
  color: $color-green;
  position: absolute;
  right: $gutter;
  top: $gutter;
  @include media-query($small){
    // top: $gutter;
    top: 3vw;
    right: $double-gutter;

  };

  svg{
    // height: $big-font;
    // width: $big-font;
    height:3.4vw;
    width:3.4vw;
    @include media-query($small){
      // height: $big-font-mobile;
      // width: $big-font-mobile;
      height: 8.75vw;
      width: 8.75vw;
    };
  }
  .st0{
    fill: $color-green !important;
  }
}

.nav-open-word{
  color: $color-green;
  position: fixed;
  // right: $gutter;
  right: 1.1625vw;
  // top: $gutter;
  top: 1.59vw;
  z-index: 10;
  writing-mode: vertical-rl;
  line-height: 2.8rem;
  text-transform: capitalize !important;
  @include transition(color $transition-time ease-in-out);
  &:hover{
    color: $color-black;
  }

}



.home-link{
  float: left;
  white-space: nowrap;
  text-transform: uppercase;
  @include media-query($small){
    white-space: normal;
  };
  a{
    color: $color-green;
    @include transition(all 400ms  ease-in-out);
  }
  span{
    @include transition(all 400ms  ease-in-out);
    color: $color-black;
  }
  &:hover{
    a{
      color: $color-black;
    }
    span{
      color: $color-green;
    }
  }
}
.nav-link__wrapper:not(.home-link){
  float: left;
  padding-right: $half-gutter;
  // padding-bottom: 1vw;
  text-transform: uppercase;
  .nav-link{
    color: $color-black;
    @include transition(all 400ms  ease-in-out);
  }
  .nav-link__punctuation{
    color: $color-green;
    @include transition(all 400ms ease-in-out);

  }
  &:hover{
    .nav-link{
      color: $color-green;
    }
    .nav-link__punctuation{
      color: $color-black;
    }
  }
  @include media-query($small){
    width: 100%;
    // padding-bottom: $mobile-bottom-padding;
    padding-bottom: 1vw;
  };
}

.site-nav--active{
  .nav-link{
    color: $color-green !important;
  }
  .nav-link__punctuation{
    color: $color-black !important;
  }
}
.home-link{
  a{
    @include media-query($small){
      padding-bottom: 1vw;
    };
  }
}



/* styles for animated hamburger menu   */
.menu-icon {
  display: inline-block;
  cursor: pointer;
  z-index: 10;
  justify-self: end;
  right: $double-gutter;
  top: $double-gutter;
  position: fixed;
  // height: $big-font-mobile;
  // width: $big-font-mobile;
  height: 8vw;
  width: 9vw;
  svg{
    height: 9vw;

  }

}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: $color-green;
  // margin: 6px 0;
  margin-bottom: 6px;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-1px, 0px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}




//
//
//   .topnav{
//     display: grid;
//     grid-template-columns: repeat(auto-fit , minmax( 40px , max-content));
//     justify-content: space-evenly;
//     grid-column-gap: 3px;
//     font-family: var(--font-second);
//     overflow: hidden;
//     margin: 0;
//     align-items: center;
//
//     .icon {
//       display: block;
//       fill: black;
//     }
//
//   }
//   .topnav a {
//     float: left;
//     display: block;
//     color: #000;
//     text-align: center;
//     padding: 12px 7px;
//     text-decoration: none;
//     font-size: 12px;
//     font-weight: 700;
//     letter-spacing: 1px;
//     width:100%;
//     font-family: var(--font-second);
//     text-transform: uppercase;
//   }
//   .nav-logout-link a{
//     font-size: 12px;
//
//   }
//   .header-cart-link{
//     display: flex;
//     justify-content: center;
//     a{
//       // color: $gradient-anchor;
//     }
//     .cart-item-count{
//       background: white;
//       padding: 6px 9px;
//       // color: $gradient-anchor !important;
//     }
//     @include media-query($small){
//       // position: absolute;
//       // right: 0;
//     };
//   }
//
//   .topnav.responsive{
//     display: grid;
//     grid-template-columns: 1fr;
//     justify-content: center;
//     grid-column-gap: $gutter;
//
//     @include media-query($medium-down){
//       display: flex !important;
//       flex-direction: column;
//       justify-content: space-evenly;
//     };
//   }
// }
//
// .site-nav__link{
//   font-family: var(--font-second);
//   text-transform: capitalize;
//   color: #fff;
//   @include media-query($small){
//     padding-left: $gutter;
//     margin-bottom: 15px;
//     display: none !important;
//     font-size: 36px;
//
//   };
// }
//
// .topnav.mobile-nav.open{
//   .site-nav__link{
//     display: block !important;
//   }
// }
//
//
// .sub-child-menu{
//   height: auto;
//   width: 100%;
//   text-align: center;
//   max-height: 0;
//   overflow: hidden;
//   float: left;
//   display: flex;
//   flex-direction: column;
//   @include transition(all 200ms);
//   &.open{
//     max-height: 100vh;
//   }
// }
//
// .header-cp-container{
//   // position: absolute;
//   // top: 0;
//   // right: 0;
// }
// // .site-nav--active, .site-nav--active a {
// //   background-color: lightgray;
// //   color: white;
// // }
//
//
// .mobile-nav{
//   height: $mobile-header-height;
//   position: absolute !important;
//   left: 0;
//   top: 1px;
//   width: 100%;
//   background: var(--color-1);
//   padding-top: 43px;
//   display: flex !important;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   z-index: 0;
//   margin-top: 0;
//   li{
//     opacity:0;
//     @include transition(all 500ms ease);
//
//   }
//
//   @include transition(all 500ms ease);
//   &.open{
//     // height: calc(100VH - 66px);
//     height: 100VH;
//     z-index: 10;
//     top: $mobile-header-height;
//
//     li{
//       opacity:1;
//     }
//   }
//
// }
//
// .topnav .icon {
//   display: none;
// }
//
// .dropdown {
//   float: left;
//   overflow: hidden;
// }
//
// .dropdown .dropbtn {
//   font-size: 17px;
//   border: none;
//   outline: none;
//   padding: 14px 16px;
//   background-color: inherit;
//   font-family: inherit;
//   margin: 0;
// }
//
// .dropdown-content {
//   display: none;
//   margin-top:33px;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }
//
// .dropdown-content a {
//   float: none;
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
//   text-align: left;
// }
//
// .topnav li{
//   @include transition(all 400ms);
// }
//
// .topnav li:hover, .dropdown:hover .dropbtn {
//   background-color: lightgray;
// }
//
// .dropdown-content a:hover {
//   background-color: #ddd;
//   color: black;
// }
//
// .dropdown:hover .dropdown-content, .dropdown.active .dropdown-content {
//   display: block;
// }
//
//
//
//
// @media screen and (max-width: 750px) {
//
//   /* .topnav {
//   max-height: 40px;
//   padding-top: 43px;
//   position: relative;
//   transition: max-height 0.5s ease;
// } */
//
//   .topnav li:not(:first-child), .dropdown .dropbtn {
//     display: none;
//   }
//   .topnav a.icon {
//     float: right;
//     display: block;
//   }
//
//   .dropdown-content {
//     margin-top:0px;
//   }
//
//   .topnav.responsive {position: relative;}
//   .topnav.responsive .icon {
//     position: absolute;
//     right: 0;
//     top: 0;
//   }
//
//
//
//   .topnav.responsive li, .topnav.responsive a {
//     float: none;
//     display: block;
//     text-align: center;
//   }
//   .topnav.responsive .dropdown {float: none;}
//   .topnav.responsive .dropdown-content {position: relative;}
//   .topnav.responsive .dropdown .dropbtn {
//     display: block;
//     width: 100%;
//     text-align: center;
//   }
// }
//
// /* styles for animated hamburger menu   */
// .menu-icon {
//   display: inline-block;
//   cursor: pointer;
//   z-index: 10;
// }
//
// .bar1, .bar2, .bar3 {
//   width: 35px;
//   height: 5px;
//   background-color: white;
//   margin: 6px 0;
//   transition: 0.4s;
// }
// .change .bar1 {
//   -webkit-transform: rotate(-45deg) translate(-9px, 6px);
//   transform: rotate(-45deg) translate(-1px, 0px);
// }
// .change .bar2 {opacity: 0;}
// .change .bar3 {
//   -webkit-transform: rotate(45deg) translate(-8px, -8px);
//   transform: rotate(45deg) translate(-8px, -8px);
// }
//
//
// a#menu-icon{
//
// }
//
// .site-logo{
//   img{
//     @include media-query($medium-up){
//       padding-left: 50px;
//     };
//   }
// }
