.hero-static{
  min-height: 20vh;
  padding: 3rem $gutter;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  @include transition(opacity 1340ms ease-in-out);
  @include media-query($medium-up){
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // border: 2px solid red;
  };
  @include media-query($small){
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
  };

  &.load{
    opacity: 1;
  }
}



// .hero-static-text{
//   @include media-query($medium-up){
//     max-width: 50%;
//     line-height: inherit;
//     margin: $large-gutter auto;
//   };
// }
