 @import url("https://use.typekit.net/wmp2umn.css");



body{
  line-height: normal;
   font-family:  "brandon-grotesque" sans-serif !important;
}

h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
}

p{
  font-size: 18px;
}
.main-container{
  padding-top: 1px;
}

.shopify-section{
  max-width: $section-max-width;
  margin: auto;
}

.shopify-section:not(#shopify-section-header):not(#shopify-section-footer):not(:first-of-type){
  // padding-top: 1rem;
  // padding-bottom: 2rem;
}

.cta{
  cursor: pointer;
  border-radius: 0;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  // box-shadow: 3px 3px 0px #FFFFFF;
  width: 100%;
  background-color: black;
  .cta-link{
    color: white !important;
  }
}

.cta-link{
  white-space: nowrap;
  overflow: hidden;
}
.cta-half{
  width: 50%;
}

.cta-third{
  width: 75%;
}

.cta-full{
  width: 100%;
}


.cta-purple{
  background-color: #A64599;
}
