 @import url("https://use.typekit.net/wmp2umn.css");



body{
  line-height: normal;
   font-family:  "brandon-grotesque" sans-serif !important;
}

h1{
  font-size: 56px;
}
h2{
  font-size: 24px;
}

p{
  font-size: 18px;
}






.overflow-hidden{
  overflow: hidden;
}

.main-container{
  padding-top: 1px;
  height: 100vh;
}

.shopify-section{
  // max-width: $section-max-width;
  margin: auto;
}

.shopify-section:not(#shopify-section-header):not(#shopify-section-footer):not(:first-of-type){
  // padding-top: 1rem;
  // padding-bottom: 2rem;
}
