
 @font-face {
     font-family: 'Minion Pro';
     src: url('/fonts/MinionPro-Regular.woff2') format('woff2'),
         url('/fonts/MinionPro-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'OAE-Italic';
     src: url('OAE-Italic.woff2') format('woff2'),
         url('OAE-Italic.woff') format('woff');
     font-weight: normal;
     font-style: italic;
 }


 @font-face {
     font-family: 'OAE';
     src: url('OAE-Regular.woff2') format('woff2'),
         url('OAE-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }



body{
  line-height: normal;
  font-family:  "OAE";
}

h1{
  font-size: 56px;
}
h2{
  font-size: 24px;
}

p{
  font-size: 18px;
}

.big-font{
  font-size: $big-font;
  // line-height: 0.8;
  line-height: 4vw;
  // padding-bottom: 5px;
  @include media-query($small){
    font-size: $big-font-mobile;
    line-height: 9vw;
  };
}
.med-font{
  font-size: $med-font !important;
  @include media-query($small){
    font-size: $med-font-mobile !important;
  };
}
.med-plus-font{
  font-size: $med-plus-font !important;
  @include media-query($small){
    font-size: $med-font-mobile !important;
  };
}

.main-container, #barba-wrapper{
  max-width: 1600px;
  margin: auto;
  position: relative;
  @include media-query($small){
    max-width: 100vw;
  };
}

.font-oae{
  font-family: "OAE";
}

.font-oae-italic{
  font-family: "OAE-Italic" !important;
}


.dark-shadow{
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.top-space{
  // margin-top: $double-gutter !important;
  // margin-top: 180px !important;
  margin-top: $big-font !important;
  // margin-top: 12.8vw !important;
  @include media-query($small){
    margin-top: $big-font !important;
  };
}

.top-space__mobile{
  @include media-query($small){
    margin-top: $big-font-mobile !important;

  };
}

.top-space__header{
  margin-top: 12.8vw !important;
  @include media-query($small){
    // margin-top: 35vw!important;
  };
}



.overflow-hidden{
  overflow: hidden;
}

.main-container{
  // padding-top: 1px;
  @include media-query($small){
    height: 100vh;

  };
  @include media-query($medium-up){
    // padding-right: $double-gutter;
    padding-right: 4.625vw;
  };
  // min-height: 70vh;

}

.shopify-section{
  // max-width: $section-max-width;
  margin: auto;
}

.shopify-section:not(#shopify-section-header):not(#shopify-section-footer):not(:first-of-type){
  // padding-top: 1rem;
  // padding-bottom: 2rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

//Search
.nav-search-wrapper{
  display: inline-flex;
  width: 100%;
  padding: 0 $gutter
}

.search-form{

  width: 100%;
  [type=search]{
    width: 100%;
    height: $big-font;
    border: none;
    border-bottom: 2px solid $color-green;
  }
}

.right-spacer{
  border: 2px solid red;
  width: 120px;
  height: 100%;
  position: relative;
  display: inline;
}
