.list-collections-header{
  text-align: center;
  color: transparent;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;
}

.list-collection-item{
  padding-bottom: 30px;
}

.list-collection-item_title{
  color: white;
  font-size: 24px;
  top: 10px;
}
