/*================ Contact Page  ================*/

.contact-page {
  /* height: 300px; */
  display: flex;
  min-height: 520px;
  height: 65vh;
}


.contact-page-container{
  margin: auto;
  margin-top: 0;
  width: 100%;
  h1{
    text-align: center;
  }
  .form-wrapper{
    width: 100%;
    padding: 0 $gutter;
  }
  .form-element{
    width: 100%;
  }

  .contact-form{
    margin: auto;
    // max-width: 500px;
    input, textarea{
      // font-size: 20px;
      display: block;
      height: 52px;
      width: 100%;
      margin-bottom: 10px;
      resize: none;
      border: none;
      border-bottom: 2px solid $color-green;
    }
  }

  .contact-submit{
    background: white;
    color: black;
    text-align: left;
    padding: 0;
    border-bottom: none !important;
  }

  label {
    font-size: 20px;
  }
}

#contact_form{
  @include media-query($small){
    // width: 80%;
    margin: auto;
  };
}

.team-container{
  width: 100%;
}

.policy-links{
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

/*================ Customer Account Page  ================*/
.customer-account-page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

button{
  border-radius: 7px;
}

#address_form_new, .edit-address-form{
  // display: flex;
  flex-direction: column;
  label{
    margin-bottom: 0;
  }
  input{
    width: 100%;
  }
  input[type=checkbox]{
    width: 0;
  }
}





/*================ About Page  ================*/
.about-page-container, .page-container{
  background-color: --color-2;
  padding: 0 $gutter;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // width: 95%;
  // align-items: center;
  margin: auto;
  // max-width: 1250px;
  // margin-top: $quad-gutter;
  margin-left: 0;
  margin-bottom: $big-font-tripple;

  .image-contain>img, .image-fit{
    transform: translate(-50%, 0%);
    // width: 41%;
    // max-height: 9rem;
  }
}
.text-with-image-container{

  padding: 3rem;
  @include media-query($small){
    width: 100% !important;
  };
  &.half{
    margin: auto;
    width: 50%;
    display: inline-block;
    // vertical-align: top;
  }
  &.full{
    width: 100%;
    .text-content{
      width: 50%;
      margin: auto;
      @include media-query($small){
        width: 100% !important;
      };
    }
  }
}


/*================ Mission Page  ================*/


/*================ Press Page  ================*/

.press-title{
  padding-top: $half-gutter;
}
.press-image-wrapper{
    @include fluid-aspect(3 2);
}
.press-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/*================ Policies  ================*/
.shopify-policy__container{
  margin-top: $big-font !important;
  margin-bottom: $big-font-tripple !important;
  font-size: $med-font;
  margin-left: 0 !important;
  a{
    color: $color-grey;
    @include transition(color $transition-time ease-in-out);
    &:hover{
      color: $color-black;
    }
  }
  @include media-query($small){
    margin-top: $gutter !important;
  };
  h1{
    padding-bottom: 1vw;
    margin-left: 0 !important;
    text-align: left;
  }
}
