.product-section-block{


  .flickity-page-dots{
    @include media-query($medium-up){
      left: 0;
      width: auto;
    };
  }

  .dot{
    background: white;
    opacity: 1;
  }
  .dot.is-selected{
    background: #A64599;
  }

  @include media-query($medium-down){
    .flickity-button{
      display: none;
    }
  };
}
#product-content-block{

}


#product-image-block{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  margin: auto;
  /* width: auto; */
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  // z-index: -2;


  .flickity-slider{ transform: none !important; }
  .slide-parent{
    left: 0 !important;
     opacity: 0;
     transition: opacity 0.6s ease-in-out;
     min-height: 100%;
     .product-slide-image{
       margin: auto;
       min-height: 100%;
       img{

       }
     }
  }
  .slide-parent.is-selected{
      opacity: 1;
  }

  .flickity-ready .slide-parent {
  height: 100%;
}

}



.product-title{
  z-index: 1;
}

.product-section-block .product-content-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;


  .product-description{
    max-width: 40%;
    pointer-events: none;
    z-index: 1;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
  }

}

.add-container{
  position: fixed;
  bottom: 0;
  .add-to-cart-button{
    cursor: pointer;
  }
  .color-green{
    &:hover{
    @include transition(color 300ms);
      color: $color-black
    }
  }
}

.zoom-modal-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  .zoom-slider{
    width: 95%;
    margin: auto;
    border: 2px solid blue;
    // max-height: 70%;
    overflow-y: hidden;
    // display: flex;
    align-items: center;
    background: white;
    min-height: 60vh;
    .flickity-viewport{
      min-height: 100%;
    }
    .slide-parent{
      min-height: 100%;


      img{
        max-height: 100%;
        width: 100%;
      }

    }
  }
  .zoom-close{
    cursor: pointer;
    z-index: 20;
  }
}

.arrow-right{
  cursor: url('https://cdn.shopify.com/s/files/1/0080/8992/7727/files/arrow-right.svg?3104') 100 30, auto !important;


}
.arrow-left{
  cursor: url('https://cdn.shopify.com/s/files/1/0080/8992/7727/files/arrow-left.svg?3104') 100 30, auto !important;
}

.cart-link-container{
  position: absolute;
  top: auto;
  bottom: 94px;
  right: -62px;
  left: auto;
  @include transform(rotate(90deg));
  @include transition(all 300ms);

  &:hover{
    .color-black{
      color: $color-green;
    }
  }
}

.variant-radio-wrapper{
  HTML  CSS Result
EDIT ON
 @import url(https://fonts.googleapis.com/css?family=Cabin:700);

/* HTML5 Boilerplate accessible hidden styles */
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5em;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: green;
  box-shadow: 0 0 0 0.25em #000;
}

/* never forget focus styling */
[type="radio"]:focus + span:after {
  // content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}

}
