.product-section-block{


  .flickity-page-dots{
    @include media-query($medium-up){
      left: 0;
      width: auto;
    };
  }

  .dot{
    background: white;
    opacity: 1;
  }
  .dot.is-selected{
    background: #A64599;
  }

  @include media-query($medium-down){
    .flickity-button{
      display: none;
    }
  };
}
#product-content-block{
  @include media-query($small){
    order: 1;
  };
}


#product-image-block{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60%;
  margin: auto;
  max-width: 800px;
  /* width: auto; */
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  // z-index: -2;
  @include media-query($medium-up){
    max-width: 620px;
  };
  @include media-query($small){
    order: 0;
    position: relative;
    top: unset;
    left: unset;
    width: unset;
    margin: unset;
    max-width: 800px;
    -webkit-transform: none;
     transform: none;
  };




  .flickity-slider{ transform: none !important; }
  .slide-parent{

    left: 0 !important;
     opacity: 0;
     // transition: opacity 0.3s ease-in-out;
     @include transition(opacity 0.3s ease-in-out) ;
     @include transition(filter 0.3s ease-in-out) ;
     min-height: 100%;
     .product-slide-image{
       margin: auto;
       min-height: 100%;
       overflow: visible;
     }
  }
  .slide-parent.is-selected{
      opacity: 1;
      // -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
      // filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }

  .flickity-ready .slide-parent {
  height: 100%;
}

.product-slide-image{
  img{
    //
    // -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    // filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }
}
.flickity-viewport{

  overflow: visible;
}

}



.product-title{
  z-index: 1;
  @include transition(color $transition-time ease-in-out);
}

.product-section-block .product-content-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  @include media-query($small){
    position: relative;
  }


  .product-description{
    pointer-events: none;
    font-size:$small-font;

    z-index: 1;
    @include media-query($medium-up){
      min-width: 350px;
      max-width: 26vw;

    };
    div, p, .p1, .p1 div{
      font-size: $small-font;
      color: $color-black !important;
      @include media-query($small){
        font-size: $med-font-mobile;
        color: $color-black !important;
      };
    }
    .p1{
      @include media-query($small){
        padding-bottom: 2vw !important;
      };
    }
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
    @include media-query($small){
      max-width: unset;
    };
  }

}

.add-container{
  position: fixed;
  bottom: $half-gutter;
  @include media-query($small){
    position: relative;
  };
  @include media-query($medium-up){
    display: flex;
    align-items: flex-end;
  };
  .add-to-cart-button{
    cursor: pointer;
  }
  .color-green{
    &:hover{
    @include transition(color 300ms);
      color: $color-black
    }
  }
  .back-link{
    @include media-query($medium-up){
      padding-left: 1vw;
    };
  }
}
.add-container-hook{
  display: flex;
  @include media-query($small){
    flex-direction: column;
  };
}

.zoom-modal-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  cursor: none;
  .flickity-viewport{
    // background: white;
  }

  .zoom-slider{
    // height: 70%;
    height: 87vh;
    width: 70%;
    margin: auto;
    background: rgba(255,255,255,0);
    .zoom-slide{
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      // @include transition(all 0ms) ;
    }
    .flickity-slider{
      transform: none !important;
      .zoom-slide{
        left: 0 !important;
        opacity: 0;
        &.is-selected{
          opacity: 1;
          left: 0;
        }
      }
    }
  }
  .zoom-close{
    cursor: pointer;
    z-index: 20;
  }
}

// .arrow-right{
//   cursor: url('https://cdn.shopify.com/s/files/1/0080/8992/7727/files/arrow-right.svg?3104') 100 30, auto !important;
//   // cursor: url('https://cdn.shopify.com/s/files/1/0143/7630/4726/files/arrow-right.png?2688') 100 30, auto !important;
// }
// .arrow-left{
//   cursor: url('https://cdn.shopify.com/s/files/1/0080/8992/7727/files/arrow-left.svg?3104') 100 30, auto !important;
// }

.mouse-follow{
  position: absolute;
  height: 3.3vw;
  // height: 3.6vw;
  width: 100px;
  transform: translate(-79%,-50%);
  z-index: 10;
  // background: url('https://cdn.shopify.com/s/files/1/0143/7630/4726/files/arrow-right.png?2688');
  background: url('https://cdn.shopify.com/s/files/1/0143/7630/4726/files/arrow.svg?2854');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &.left{
    transform: rotate(180deg);
  }
}

.cart-link-container{
  position: fixed;
  top: auto;
  // bottom: 94px;
  // right: -62px;
  bottom: $half-gutter;
  right: $gutter;
  left: auto;
  writing-mode: vertical-rl;
  // @include transform(rotate(90deg));
  @include transition(all 300ms);

  &:hover{
    .color-black{
      color: $color-green;
    }
    .color-green{
      color: $color-black;
    }
  }
}

.variant-radio-wrapper{
  fieldset{
    padding: 0;
  }

/* HTML5 Boilerplate accessible hidden styles */
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;
  // line-height: 2.5;
  font-size: 1.5em;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  border-radius: 1em;
  border: 2px solid $color-green;
  // box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.5em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before, [type="radio"]:hover + span:before  {
  background: $color-green;
  // box-shadow: 0 0 0 0.25em #000;
}

/* never forget focus styling */
[type="radio"]:focus + span:after {
  // content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}

}
