// textarea,
// input[type="text"],
// input[type="button"],
// input[type="submit"] {
//      -webkit-appearance: none;
//      border-radius: 0;
// }
//


.search-template-wrapper{

  .search-result-wrapper{

    .product-collection-items{
      margin-top: 60px;
    }
    li{
      width: 100%;
    }
  }
  .search-preview-container{
    // min-height: 20vh;
    // min-height: 60vh;
    a{
      color: $color-black;
    }
    &:hover{
      .color-black{
        color: $color-green !important;
      }
    }
  }
  .article-preview-image{
    // width: 30vw;
    // // min-height: 40vh;
    // height: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include fluid-aspect(3 2);
  }
  .article-info{
    padding-top: $half-gutter;
  }
  .nav-link{
    color: $color-black;
    @include transition(all 400ms  ease-in-out);
  }
  .nav-link__punctuation{
    color: $color-green;
    @include transition(all 400ms ease-in-out);

  }
}
// &:hover{
//   .nav-link{
//     color: $color-green;
//   }
//   .nav-link__punctuation{
//     color: $color-black;
//   }
// }
