

<div class="cart-copy-container">
  <p class="med-plus-font cart-message">{{section.settings.cart_copy}}</p>

</div>

{% schema %}
  {
    "name": "Cart Copy",
    "settings": [

      {
        "type": "textarea",
        "id": "cart_copy",
        "label": "Cart Copy"
      }
    ]
  }
{% endschema %}
