<div class="team-section">
  <h2 class="med-plus-font color-green no-hover team-section-header">Team</h2>

<ul class="med-plus-font mission-link-container">

  {%- for block in section.blocks -%}

  <li>
    <a class="color-black" href="{{block.settings.url}}">{{ block.settings.text }}</a>
  </li>
  {%- endfor -%}
</ul>

</div>


{% schema %}
  {
    "name": "Team",
    "class": "text-left",
    "blocks": [
      {
        "name": "Team Member",
        "type": "selected_product",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Team Member"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Member Link"
          }
        ]
      }
    ]
  }
{% endschema %}
