<!-- hero-static.liquid -->


{% assign background_image_url = section.settings.hero_image | img_url : '2000x'  %}
<div class="hero-static gutter" style="background-image: url({{background_image_url}})" >

{%- comment %}
	This is a foo
  {%- if section.settings.hero_image != blank -%}
    <img src="{{section.settings.hero_image | img_url : '800x' }}" alt="">
  {%- endif -%}
  {% endcomment -%}


</div>


{% schema %}
  {
    "name": "Hero Static",
    "settings": [

      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "image"
      }
    ],
    "presets": [
      {
        "name": "Hero Static",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
