<!-- mission-section.liquid -->


  <ul class='mission-link-container med-font'>
    <li>
      <p class='color-green med-font no-hover'>Philanthropic Partners</p>
    </li>
  {%- for block in section.blocks -%}
  <li>
    <a class="color-black" href="{{block.settings.link_url}}" target="_blank">{{block.settings.link_copy}}</a>
  </li>

  {%- endfor -%}
</ul>








{% schema %}
  {
    "name": "Mission Section",
    "class": "index-section",
    "blocks": [
      {
        "type": "link_block",
        "name": "link",
        "settings": [
          {
            "type": "text",
            "id": "link_copy",
            "label": "Link Copy"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "URL"
          }
        ]
      }
    ]
  }
{% endschema %}
